body {
  margin: 0;
  /* https://stackoverflow.com/a/47880631/11303031 - add san francisco font */
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  color: #3e4e57;
}

a,
p {
  color: #3e4e57;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
